<h4>Movies</h4>

<div *ngIf="isFetching" class="spinner-border">
  <span class="sr-only">Loading...</span>
</div>

<ng-container *ngIf="!isFetching">
  <app-movie-item
    *ngFor="let movie of movies"
    [movies]="movie"
  ></app-movie-item>
</ng-container>
