<div class="row mt-2">
  <div class="col-6">
    <h4>Create movie</h4>
    <form (ngSubmit)="createMovie()">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text"
               name="name" id="name"
               class="form-control"
               placeholder="Enter movie name"
               #nameInput
        />
      </div>
      <button
        type="submit"
        class="btn btn-primary"
      >Add
      </button>
    </form>
  </div>
</div>
